{% extends "base.html" %}

{% load static %}

{% block extra_css %}
<link rel="stylesheet" type="text/css" href="{% static 'css/allauth.css' %}" />

{% endblock extra_css %}

{% block content %}
{% include 'includes/navbar.html' %}
<div class="auth-container">
    <div class="auth-card">
        <h2 class="text-center">Welcome to Jedi Juggernauts</h2>
        <p class="text-center">Please log in to continue.</p>
        <div class="underline">
            {% block allauth %}
            {% endblock %}
        </div>
    </div>
</div>
{% endblock %}