{% extends "base.html" %}
{% load i18n %}
{% load allauth account %}
{% load static %}

{% block head_title %}
    {% trans "Sign In" %}
{% endblock head_title %}

{% block content %}
{% include 'includes/navbar.html' %}
<div class="container mt-10">
    <div class="flex justify-center">
        <div class="w-full max-w-md">
            <div class="bg-opacity-50 bg-gray-900 shadow-lg rounded px-8 pt-6 pb-8 mb-4 neon-border">
                <h1 class="text-3xl font-extrabold uppercase text-center mb-6 text-yellow-500">{% trans "Sign Up" %}</h1>
                {% url 'account_signup' as action_url %}
                <form method="post" action="{{ action_url }}">
                    {% csrf_token %}
                    {% for field in form %}
                        {% if field.name != 'email' %}
                            <div class="mb-4">
                                <label class="block text-yellow-300 text-sm font-bold mb-2" for="{{ field.id_for_label }}">
                                    {{ field.label_tag }}{{ field.label_suffix }}
                                </label>
                                <div>
                                    {{ field }}
                                    {% if field.help_text %}
                                    <div class="bg-yellow-400 bg-opacity-50 p-2 rounded-lg mt-2">
                                        <p class="text-xs text-yellow-900">
                                            {{ field.help_text }}
                                        </p>
                                    </div>
                                    {% endif %}
                                    {% for error in field.errors %}
                                        <p class="text-red-500 text-xs italic">{{ error }}</p>
                                    {% endfor %}
                                </div>
                            </div>
                        {% endif %}
                    {% endfor %}
                    {% if redirect_field_value %}
                        <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}">
                    {% endif %}
                    <div class="flex items-center justify-center">
                        <button class="bg-yellow-500 hover:bg-yellow-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline" type="submit">
                            {% trans "Sign Up" %}
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

{% block js %}
    <script src="{% static 'js/account.js' %}"></script>
{% endblock js %}

{% endblock content %}