@import url("https://fonts.googleapis.com/css2?family=Roboto:wght&500;700&display=swap");

body {
  background: rgb(20, 20, 20);
  font-family: "Roboto";
}

.wrapper {
  background: rgb(20, 20, 20);
  display: flex;
  height: 100%;
  width: 60%;
  margin: auto;
}

header {
  position: fixed;
  top: 0;
  height: 30px;
  background-color: white;
  width: 100%;
  z-index: 10;
}