@import url("https://fonts.googleapis.com/css2?family=Open+Sans&display=swap");


@media only screen and (min-width: 768px) {
  /* tablets and desktop */

  body {
    background-color: black;
    overflow: hidden !important;

    .stars {
        position: absolute;
        width: 1px;
        height: 1px;
        background-color: white;
        z-index: 2;
      }
    

  }

.galaxy-container {
    position: relative;
    width: 100%;
    height: 800px;
}
.planet-item {
    position: absolute;
} 
}

#galaxy-header {
  position: static;
  height: auto;
}
