@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

    nav a {
        font-family: 'Roboto', sans-serif;
        transition: color 0.3s ease;
    }

    nav a:hover {
        color: #FDE047;
    }

    #mobile-menu-toggle {
        display: none;
    }

    @media (max-width: 767px) {
        #mobile-menu-toggle:checked + #mobile-menu {
            display: block;
        }

        .sm\:block {
            display: none;
        }
    }