{% extends 'base.html' %}

{% load static %}
 
{% block content %}

{% include 'includes/navbar.html' %}
 
    <div class="quiz-container">

        <div class="text-center p-5 bg-opacity-50 bg-gray-900 border-yellow-300 border-8 shadow-lg rounded neon-border w-1/2 m-auto mt-32">

            <h1 class="text-yellow-300 font-bold question-counter">Question {{ question_index }} of 14</h1>


        </div>

        <div class="text-center p-5 border-yellow-300 bg-opacity-50 bg-gray-900 border-8 shadow-lg rounded neon-border w-1/2 m-auto mt-32">

            <h2 class="text-yellow-300 quiz-question-h1 font-bold">{{ question.question }}</h2>

            <br><br>

            <form method="post" action="{% url 'quiz' %}">
                {% csrf_token %}

                {{ form.as_p }}

                <br>
                <button class="w-1/2 bg-yellow-500 hover:bg-yellow-700 text-white font-bold p-5 px-4 rounded focus:outline-none focus:shadow-outline submit-btn" type="submit">Submit</button>
            </form>

            <br>

        </div>

    </div>

    {% block js %}
        <script src="{% static 'js/galaxy.js'%}" alt="Star Wars Inspired star quiz scroll screen logo img "></script>
    {% endblock js %}

{% endblock %}