{% extends 'base.html' %}

{% load static %}
 
{% block content %}
 
    <div class="quiz-container">

        <div class="text-center p-5 border-yellow-300 border-8 shadow-lg rounded neon-border w-1/2 m-auto mt-32">

            <h1 class="text-yellow-300 text-3xl">{{ question.question }}</h1>

            <br><br>
            <form method="post" action="{% url 'quiz' %}">
                {% csrf_token %}

                {{ form.as_p }}

                <br>
                <button class="max-w-lg w-1/3 bg-yellow-500 hover:bg-yellow-700 text-white font-bold p-5 px-4 rounded focus:outline-none focus:shadow-outline" type="submit">Submit</button>
            </form>
        </div>

    </div>

    {% block js %}
    <script src="{% static 'js/galaxy.js'%}" alt="Star Wars Inspired star quiz scroll screen logo img "></script>
{% endblock js %}

{% endblock %}