{% load static %}

<nav class="bg-gray-800">
    <div class="mx-auto px-2 sm:px-6 lg:px-8">
        <div class="relative flex h-16 items-center justify-between">
            <div class="flex flex-shrink-0 items-center">
                <a href="{% url 'galaxy_map' %}" class="flex items-center space-x-2">
                    <img src="{% static 'img/starquiz.png' %}" alt="Star quiz logo" class="h-11">
                </a>
            </div>
            <div class="hidden sm:block">
                <div class="flex space-x-4">
                    <a href="{% url 'home' %}" class="text-white font-bold hover:text-yellow-300 rounded-md px-3 py-2 text-sm" aria-current="page">Home</a>
                    <a href="{% url 'galaxy_map' %}" class="text-white font-bold hover:text-yellow-300 rounded-md px-3 py-2 text-sm">Galaxy</a>
                    <a href="{% url 'quiz' %}" class="text-white font-bold hover:text-yellow-300 rounded-md px-3 py-2 text-sm">Quiz</a>
                    <a href="{% url 'leaderboard' %}" class="text-white font-bold hover:text-yellow-300 rounded-md px-3 py-2 text-sm">Leaderboard</a>
                    {% if user.is_authenticated %}
                        <a href="{% url 'account_logout' %}" class="text-white font-bold hover:text-yellow-300 rounded-md px-3 py-2 text-sm">Logout</a>
                    {% else %}
                        <a href="{% url 'account_signup' %}" class="text-white font-bold hover:text-yellow-300 rounded-md px-3 py-2 text-sm">Sign Up</a>
                        <a href="{% url 'account_login' %}" class="text-white font-bold hover:text-yellow-300 rounded-md px-3 py-2 text-sm">Login</a>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>

    <!-- Mobile menu -->
    <div class="sm:hidden" id="mobile-menu">
        <div class="bg-gray-800 px-2 pt-2 pb-3 space-y-1">
            <a href="{% url 'home' %}" class="text-white font-bold hover:text-yellow-300 block px-3 py-2 rounded-md text-base">Home</a>
            <a href="{% url 'galaxy_map' %}" class="text-white font-bold hover:text-yellow-300 block px-3 py-2 rounded-md text-base">Galaxy</a>
            <a href="{% url 'quiz' %}" class="text-white font-bold hover:text-yellow-300 block px-3 py-2 rounded-md text-base">Quiz</a>
            <a href="{% url 'leaderboard' %}" class="text-white font-bold hover:text-yellow-300 block px-3 py-2 rounded-md text-base">Leaderboard</a>
            {% if user.is_authenticated %}
                <a href="{% url 'account_logout' %}" class="text-white font-bold hover:text-yellow-300 block px-3 py-2 rounded-md text-base">Logout</a>
            {% else %}
                <a href="{% url 'account_signup' %}" class="text-white font-bold hover:text-yellow-300 block px-3 py-2 rounded-md text-base">Sign Up</a>
                <a href="{% url 'account_login' %}" class="text-white font-bold hover:text-yellow-300 block px-3 py-2 rounded-md text-base">Login</a>
            {% endif %}
        </div>
    </div>
</nav>

{% block js %}
<script src="{% static 'js/navbar.js' %}"></script>
{% endblock js %}
