{% load static %}
<nav class="bg-transparent p-4">
    <div class="container mx-auto flex justify-between items-center">
        <div>
            <a href="{% url 'galaxy_map' %}" class="flex items-center space-x-2">
                <img src="{% static 'img/starquiz.png' %}" alt="Star quiz logo" class="h-11">
            </a>
        </div>
        <ul class="flex space-x-4">
            <li><a href="{% url 'home' %}" class="text-white font-bold hover:text-yellow-300">Home</a></li>
            <li><a href="{% url 'galaxy_map' %}" class="text-white font-bold hover:text-yellow-300">Galaxy</a></li>
            <li><a href="{% url 'quiz' %}" class="text-white font-bold hover:text-yellow-300">Quiz</a></li>
            <li><a href="{% url 'leaderboard' %}" class="text-white font-bold hover:text-yellow-300">Leaderboard</a></li>
            {% if user.is_authenticated %}
                <li><a href="{% url 'account_logout' %}" class="text-white font-bold hover:text-yellow-300">Logout</a></li>
            {% else %}
                <li><a href="{% url 'account_signup' %}" class="text-white font-bold hover:text-yellow-300">Sign Up</a></li>
                <li><a href="{% url 'account_login' %}" class="text-white font-bold hover:text-yellow-300">Login</a></li>
            {% endif %}
        </ul>
    </div>
</nav>

<style>
    @import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

    nav a {
        font-family: 'Roboto', sans-serif;
        transition: color 0.3s ease;
    }

    nav a:hover {
        color: #FDE047;
    }
</style>