{% extends 'base.html' %} 

{% load static %}

{% block content %}

{% include 'includes/navbar.html' %}
    <div class="galaxy-container-main">

        <br><br>
        
        <header id="galaxy-header">
            <h1 class="title uppercase font-bold text-yellow-300 ">Galaxy Map</h1>
            <p>The world of StarWars awaites you padawan</p>
        </header>

        <br>
    
        <div class="galaxy-container">
            {% for planet in planets %}
                <div class="planet-item">
                    <a href="{% url 'planet_detail' planet.id %}">
                        <img src="{{ planet.image.url }}" alt="{{ planet.name }}" style="width:100px;height:100px;">
                        <p class="planet-name">{{ planet.name }}</p>
                    </a>
                </div>
            {% endfor %}
        </div>

    </div>

    {%block js%}
        <script src="{% static 'js/galaxy.js'%}" alt="Star Wars Inspired star quiz scroll screen logo img "></script>
        <script src="{% static 'js/helpers/galaxyRandomizer.js'%}" alt="Star Wars Inspired star quiz scroll screen logo img "></script>
    {%endblock js%}

{% endblock %}
       

