{% extends 'base.html' %} 

{% load static %}

{% block content %}

<nav class="bg-gray-800">
    <div class="mx-auto px-2 sm:px-6 lg:px-8">
      <div class="relative flex h-16 items-center justify-between">
        <div class="absolute inset-y-0 left-0 flex items-center sm:hidden">
          <!-- Mobile menu button-->
          <button type="button" class="relative inline-flex items-center justify-center rounded-md p-2 text-gray-400 hover:bg-gray-700 hover:text-white focus:outline-none focus:ring-2 focus:ring-inset focus:ring-white" aria-controls="mobile-menu" aria-expanded="false">
            <span class="absolute -inset-0.5"></span>
            <span class="sr-only">Open main menu</span>
          </button>
        </div>
        <div class=" ms-auto flex flex-1 items-center justify-center sm:items-stretch sm:justify-start">

          <div class="flex flex-shrink-0 items-center mr-auto">
            <a href="{% url 'galaxy_map' %}" class="flex items-center space-x-2">
                <img src="{% static 'img/starquiz.png' %}" alt="Star quiz logo" class="h-11">
            </a>
          </div>
        </div>
      </div>
    </div>
  </nav>

  <div class="index-container">
    <a id="startAdventure" class="text-center bg-yellow-300 hover:bg-yellow-700 text-white font-bold p-5 px-4 rounded focus:outline-none focus:shadow-outline" href="{% url 'intro' %}">Begin</a>
  </div>

  {%block js%}
    <script src="{% static 'js/titleInit.js'%}" alt="Star Wars Inspired star quiz scroll screen logo img "></script>
  {%endblock js%}

{% endblock %}


