{% extends 'base.html' %} 

{% load static %}

<body>
{% block content %}
  {% block extra_css %}
  <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
  {% endblock extra_css %}
  <div class="wrapper">
    <div class="scroll-text">
      <h1 >STAR QUIZ</h1>
      <h2>Episode IV: Lukes Journey</h2>
      <p>
        Lorem ipsum dolor sit amet. Ut officiis laborum eum tempora natus eos
        ullam ducimus ab accusantium impedit? Et unde delectus et animi molestias
        quo delectus voluptatem. Aut commodi magnam id cumque dolorem sed adipisci
        cupiditate ut velit rerum eos blanditiis quam est mollitia expedita! Et
        molestiae repellendus sed cupiditate officiis eos suscipit asperiores. Ea
        quos voluptates non quibusdam sunt sed tempore voluptate sit accusantium
        dolor est nihil nemo aut aliquam ipsum ut provident molestias! Et
        voluptatem quod sit veniam officia ut dicta odio eos blanditiis possimus
        et laborum voluptas eum incidunt aliquam. Et fugit facere et sunt tenetur
        nam facilis sapiente At voluptates optio est quam repudiandae. 33 voluptas
        aspernatur ad repudiandae galisum ut corporis quae ut delectus voluptatem
        eum dolorem sint et voluptas rerum.
      </p>
      <p>
        Lorem ipsum dolor sit amet. Ut officiis laborum eum tempora natus eos
        ullam ducimus ab accusantium impedit? Et unde delectus et animi molestias
        quo delectus voluptatem. Aut commodi magnam id cumque dolorem sed adipisci
        cupiditate ut velit rerum eos blanditiis quam est mollitia expedita! Et
        molestiae repellendus sed cupiditate officiis eos suscipit asperiores. Ea
        quos voluptates non quibusdam sunt sed tempore voluptate sit accusantium
        dolor est nihil nemo aut aliquam ipsum ut provident molestias! Et
        voluptatem quod sit veniam officia ut dicta odio eos blanditiis possimus
        et laborum voluptas eum incidunt aliquam. Et fugit facere et sunt tenetur
        nam facilis sapiente At voluptates optio est quam repudiandae. 33 voluptas
        aspernatur ad repudiandae galisum ut corporis quae ut delectus voluptatem
        eum dolorem sint et voluptas rerum.
      </p>
      <p>
        Lorem ipsum dolor sit amet. Ut officiis laborum eum tempora natus eos
        ullam ducimus ab accusantium impedit? Et unde delectus et animi molestias
        quo delectus voluptatem. Aut commodi magnam id cumque dolorem sed adipisci
        cupiditate ut velit rerum eos blanditiis quam est mollitia expedita! Et
        molestiae repellendus sed cupiditate officiis eos suscipit asperiores. Ea
        quos voluptates non quibusdam sunt sed tempore voluptate sit accusantium
        dolor est nihil nemo aut aliquam ipsum ut provident molestias! Et
        voluptatem quod sit veniam officia ut dicta odio eos blanditiis possimus
        et laborum voluptas eum incidunt aliquam. Et fugit facere et sunt tenetur
        nam facilis sapiente At voluptates optio est quam repudiandae. 33 voluptas
        aspernatur ad repudiandae galisum ut corporis quae ut delectus voluptatem
        eum dolorem sint et voluptas rerum.
      </p>
      <p>
        Lorem ipsum dolor sit amet. Ut officiis laborum eum tempora natus eos
        ullam ducimus ab accusantium impedit? Et unde delectus et animi molestias
        quo delectus voluptatem. Aut commodi magnam id cumque dolorem sed adipisci
        cupiditate ut velit rerum eos blanditiis quam est mollitia expedita! Et
        molestiae repellendus sed cupiditate officiis eos suscipit asperiores. Ea
        quos voluptates non quibusdam sunt sed tempore voluptate sit accusantium
        dolor est nihil nemo aut aliquam ipsum ut provident molestias! Et
        voluptatem quod sit veniam officia ut dicta odio eos blanditiis possimus
        et laborum voluptas eum incidunt aliquam. Et fugit facere et sunt tenetur
        nam facilis sapiente At voluptates optio est quam repudiandae. 33 voluptas
        aspernatur ad repudiandae galisum ut corporis quae ut delectus voluptatem
        eum dolorem sint et voluptas rerum.
      </p>
      <p>
        Lorem ipsum dolor sit amet. Ut officiis laborum eum tempora natus eos
        ullam ducimus ab accusantium impedit? Et unde delectus et animi molestias
        quo delectus voluptatem. Aut commodi magnam id cumque dolorem sed adipisci
        cupiditate ut velit rerum eos blanditiis quam est mollitia expedita! Et
        molestiae repellendus sed cupiditate officiis eos suscipit asperiores. Ea
        quos voluptates non quibusdam sunt sed tempore voluptate sit accusantium
        dolor est nihil nemo aut aliquam ipsum ut provident molestias! Et
        voluptatem quod sit veniam officia ut dicta odio eos blanditiis possimus
        et laborum voluptas eum incidunt aliquam. Et fugit facere et sunt tenetur
        nam facilis sapiente At voluptates optio est quam repudiandae. 33 voluptas
        aspernatur ad repudiandae galisum ut corporis quae ut delectus voluptatem
        eum dolorem sint et voluptas rerum.
      </p>
      <p>
        Lorem ipsum dolor sit amet. Ut officiis laborum eum tempora natus eos
        ullam ducimus ab accusantium impedit? Et unde delectus et animi molestias
        quo delectus voluptatem. Aut commodi magnam id cumque dolorem sed adipisci
        cupiditate ut velit rerum eos blanditiis quam est mollitia expedita! Et
        molestiae repellendus sed cupiditate officiis eos suscipit asperiores. Ea
        quos voluptates non quibusdam sunt sed tempore voluptate sit accusantium
        dolor est nihil nemo aut aliquam ipsum ut provident molestias! Et
        voluptatem quod sit veniam officia ut dicta odio eos blanditiis possimus
        et laborum voluptas eum incidunt aliquam. Et fugit facere et sunt tenetur
        nam facilis sapiente At voluptates optio est quam repudiandae. 33 voluptas
        aspernatur ad repudiandae galisum ut corporis quae ut delectus voluptatem
        eum dolorem sint et voluptas rerum.
      </p>
    </div>
  </div>
{% endblock %}

</body>
