{% extends 'base.html' %} 

{% load static %}

<body>
{% block content %}

{% block extra_css %}
<link rel="stylesheet" type="text/css" href="{% static 'css/planets.css' %}">
{% endblock extra_css %}

  <body class="gradient-tatooine">
    <div>
      <div>
        <h1 id="name-planet text-tatooine">{{ planet.name }}</h1>
        <img class="image-planet" src="{{ planet.image.url }}" alt="{{ planet.name }}" />
      </div>
      <div class="info-planet">
        <h2>About this planet</h2>
        <p>{{ planet.description }}</p>
      </div>
    </div>

{% endblock %}

</body>
