{% extends 'base.html' %} 

{% load static %}

{% load filters %}

{% block content %}

  <div class="plant-detail-container gradient-{{ planet.name|css_class }}">
    <div>
      <div class="speech speech-{{ planet.name|css_class }}">
        <h1 class="text-{{ planet.name|css_class }}">Welcome to<br>
          <div class="uppercase font-bold">{{ planet.name }}</div>
        </h1>

        <img class="image-planet" src="{{ planet.image.url }}" alt="{{ planet.name }}" />
        
      </div>
      {% for character in characters %}
      <div>
        <img class="image-character" src="{{ character.image.url }}" alt="{{ character.name }}" />
      </div>
      {% endfor %}
      <div class="info info-{{ planet.name|css_class }} rounded-lg">
        <div class="text-{{ planet.name|css_class }} top-5">
          <h2 class="uppercase">About {{ planet.name }}</h2>
          <p>{{ planet.description }}</p>
        </div>
      </div>
      {% for character in characters %}
      <div class="info info-{{ planet.name|css_class }} rounded-lg">
        <div class="text-{{ planet.name|css_class }} top-5">
          <h2 class="uppercase">Who is {{ character.name }}</h2>
          <p>{{ character.bio }}</p>
        </div>
      </div>
      {% endfor %}
      <button class="button-return rounded-lg content-center">
        <a href="{% url 'galaxy_map'%}" onclick="checkVisited()">return to galaxy</a>
      </button>
    </div>

{% endblock %}
