{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet" type="text/css" href="{% static 'src/styles.css' %}" />
  <link rel="stylesheet" href="{% static 'css/base.css' %}" type="text/css" />

  {% block extra_css %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/title.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'css/galaxy.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'css/planets.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'css/account.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'css/quiz.css' %}" />
  {% endblock extra_css %}

  <title>{% block title %}Jedi Juggernauts{% endblock %}</title>

  <script src="https://cdn.tailwindcss.com"></script>

  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

</head>

  <body>

    {% block content %}
    
    {% endblock %}
    
  </body>

  {%block js%}
    <script src="{% static 'js/galaxy.js'%}" alt="Star Wars Inspired star quiz scroll screen logo img "></script>
  {%endblock js%}

</html>